.why_dostavista_item {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-content: stretch;
  align-items: stretch;
  box-sizing: border-box;
  padding: 20px 0px;

  & .why_dostavista_item_title {
    width:35%;
    padding-right: 5%;
    box-sizing: border-box;

    & h3, h3:hover {
      font-size: 14px;
      font-weight: bold;
      line-height: 130%;
    }

  }

  & .why_dostavista_item_description {
    width:65%;

    & p {
      line-height: 130%;
    }

    & *, *:hover {
      font-size: 14px;
      font-weight: lighter;
    }
  }
}